<div class="logo text-center">
  <img width="200" src="assets\corredor.jpg" alt="" />
</div>

<div class="registro-form m-3 p-4">
  <form [formGroup]="resgistroForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput placeholder="Nombre" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input
            formControlName="apellidos"
            matInput
            placeholder="Primer Apellido"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Telefono Móvil</mat-label>
          <input
            formControlName="movil"
            matInput
            placeholder="Telefono Móvil"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Peso</mat-label>
          <input
            formControlName="peso"
            matInput
            placeholder="Peso"
            type="number"
            formControlName="peso"
          />
          <mat-icon matSuffix>line_weight</mat-icon>
          <mat-hint>Unidad en KGs</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Altura</mat-label>
          <input
            formControlName="altura"
            matInput
            placeholder="Altura"
            type="number"
            formControlName="altura"
          />
          <mat-icon matSuffix
            ><i class="fa fa-text-height" aria-hidden="true"></i
          ></mat-icon>
          <mat-hint>Unidad en metros</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">¿Necesitas entrenador/a?</label>
        <mat-radio-group class="example-radio-group">
          <mat-radio-button
            formControlName="requierirEntrenador"
            class="example-radio-button"
            *ngFor="let entrenadorOpt of ['Yes', 'No']"
            [value]="entrenadorOpt"
          >
            {{ entrenadorOpt }}
          </mat-radio-button>
        </mat-radio-group>
        <div>La opción seleccionada es:</div>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Género</label>
        <mat-radio-group class="example-radio-group">
          <mat-radio-button
            formControlName="genero"
            class="example-radio-button"
            *ngFor="let generoOpt of genero"
            [value]="generoOpt"
          >
            {{ generoOpt }}
          </mat-radio-button>
        </mat-radio-group>
        <div>El género seleccionada es:</div>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Selecciona paquete</mat-label>
          <mat-select formControlName="paquete">
            <mat-option *ngFor="let pack of packs" [value]="pack">
              {{ pack }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label
            >¿Cuál de los siguientes es importante para usted?</mat-label
          >
          <mat-select formControlName="listaImport" multiple>
            <mat-option *ngFor="let lista of listaImpo" [value]="lista">
              {{ lista }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <label id="example-radio-group-label"
          >¿Has estado en el gimnasio antes?</label
        >
        <mat-radio-group class="example-radio-group">
          <mat-radio-button
            formControlName="GymAntes"
            class="example-radio-button"
            *ngFor="let estadoGym of ['Yes', 'No']"
            [value]="estadoGym"
          >
            {{ estadoGym }}
          </mat-radio-button>
        </mat-radio-group>
        <div>La opción seleccionada es:</div>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Consulta una fecha</mat-label>
          <input
            formControlName="consultaFecha"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
